.select {
  gap: 10px;
  width: 196px;
  padding: 10px 15px;

  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10.311px;
  background: #fff;
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);
}
